{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<h1>sadgfuihj</h1>
<div id="tweets">
    Replace me

</div>
<script>
    const tweetElement=document.getElementById("tweets")
    tweets.innerHTML="<h1>Loading...</h1>"
    const xhr=new XMLHttpRequest()
    const method="GET"
    const url="/tweets"
    const responseType="json"
    
    xhr.responseType=responseType
    xhr.open(method,url)
    xhr.onload=function(){
        const serverResponse=xhr.response
        var listedItems=serverResponse.response
        console.log(listedItems)
        
    }
    xhr.send()
</script>
{% endblock content %}
